body {
    background-image: url(/Class/Lecture-6/Images/Chitkara_University_pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    border-top: 6px solid red;
}

body header span {
    position: absolute; /* position the span to the nearest positioned ancestor */
    top: 0;
    right: 20px;
}

body header span img {
    float: right; /* aligns the image to the right */
    margin-right: 20px;
    width: 75px;
}

.container {
    background-color: #fff;
    height: 554px;
    width: 285px;
    padding: 12px;
    margin-left: 65%;
    margin-top: 6%;
    border: 2px solid #cccccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container div img {
    margin-left: 40px;
    margin-top: 12px;
    width: 200px;
    height: 113px;
}

form {
    margin-top: 20px;
    padding: 5px;
}

.label {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.input {
    border: 1px solid #7f9b7f;
    height: 22px;
    width: 224px;
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
}

.select {
    width: 226px;
    height: 23px;
    margin-top: 5px;
    border: 1px solid #7f9b7f;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.checkbox {
    margin-left: 10px;
    margin-top: 5px;
}

.checkbox-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.login-btn {
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.forgot-password {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 13px;
    margin-left: 10px;
}

.privacy-policy {
    margin-top: 15px;
}

.privacy-policy-link {
    color: #2e5b87;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

.store-link {
    margin-left: 50px;
}

.store-icon {
    margin-top: 10px;
}

.mobile-app-code {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 45px;
}

.powered-by-label {
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    color: #514848cc;
    margin-left: 10px;
}

.powered-by-logo {
    margin-left: 
}