*{
    margin: 0;
    padding: 0;
}

nav{
    z-index: 3;
    position: fixed;
    top: 0;
    background-color: #2F2E2E;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 48px;
    height: 64px;
}

nav a{
    margin-top: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    
}

.cont{
    position: relative;
    height: 200vh;
}

.background{
    width: 100vw;
    position: sticky;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
    height: 650px; /* Adjust this value to match the height of .bg img */
}

/* .bg{
    color: white;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0);
    z-index: 40;
    position: absolute;
    top: 0;
} */

.bg img{
    margin-top: 0;
    position: relative;
    width: 100%;
    height: 650px;
    object-fit: cover;
    z-index: 40;
}

/* @media screen and (max-width: 768px){
    nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    nav a{
        flex-direction: column;
        align-items: flex-start;
    }
} */